.footer-ul{
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}

.footer-li{
    text-align: right;
    list-style: none;
    font-weight: 500;
}

.footer-p{
    text-align: center;
    margin-bottom: 20px;
}