.banner-logo{
    width: 500px;
    height: 500px;
}

.banner-div{
    display: flex;
    max-width: 110ch;
    margin-left: auto;
    margin-right: auto;
}

.banner-text{
    text-align: center;
    margin-top: 200px;
    margin-left: 20px;
}

.banner-section{
    background-color: #8ab5e382;
}

.banner-h1{
    font-size: 2.3em;
    margin-bottom: 10px;
}

.banner-btn{
    margin-top: 50px;
    width: 60%;
    font-size: 1.5em;
    padding: 7px;
}